*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}
body{
    background-color: rgb(189, 152, 201);
}
h1{
    text-align: center;
}
h3{
    font-size: 10px;
    margin-left: 2rem;
}
.formbox{
    height: 65%;
    width: 95%;
    border: 2px solid black;
    margin: auto;
    background-color: white;
    margin-bottom: 3rem;
}
.formbox input{
    margin-bottom: 0.85rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.formbox label{
    margin-left: 3rem;
    font-size: 1.5rem;
}
.formbox textarea{
    margin-left: 3rem;
}
.formbox button{
    margin-left: 45%;
    height: 2rem;
    width: 12rem;
    font-size: 1.5rem;
    background-color: rgb(189, 152, 201);
    margin-bottom: 2rem;
}
label b{
    color: red;
    font-size: 1rem;
}